<html>
<head>
    <title>Assignment 3</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
    <body>
        <div id="data_table">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Data 1</th>
                    <th>Data 2</th>
                </tr>
                {% for dict_item in result %}
                <tr>
                    <td>{{dict_item['id']}}</td>
                    <td>{{dict_item['category']}}</td>
                    <td>{{dict_item['data1']}}</td>
                    <td>{{dict_item['data2']}}</td>
                    <td>
                        <form action="/delete/{{dict_item['id']}}" method="post">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="addForm">
            <form action="/add" method="post">
                <label for="category">Category:</label>
                <input type="number" name="category" id="category" required><br>
                <label for="data1">Data 1:</label>
                <input type="number" step="0.01" name="data1" id="data1" required><br>
                <label for="data2">Data 2:</label>
                <input type="number" step="0.01" name="data2" id="data2" required><br>
                <input type="submit" value="Add">
            </form>
        </div>
    </body>
</html>